
<div id="outerdiv">
      <button id = "take" type="button" class="btn btn-warning">  __Take__  </button>
      <button id = "camcalib" type="button" class="btn btn-primary">__Cam__</button>
      <button id = "projector" type="button" class="btn btn-success">__Pro__</button>
      <button id = "wilm" type="button" class="btn btn-info">__Wilm__</button>
      <button id = "pose" type="button" class="btn btn-warning">__Pose__</button>
  <!--<div id="video_div">-->
<!--&lt;!&ndash;				<video id="video" style="width:360px;float:right; height:100%"></video>&ndash;&gt;-->
  <!--</div>-->
</div>
