<div id="outerdiv">
      <button id = "scan" type="button" class="btn btn-warning">  __scan__  </button>
      <button id = "train" type="button" class="btn btn-primary">train_scan</button>
      <button id = "reference" type="button" class="btn btn-info">___Ref___</button>
      <button id = "unwrap" type="button" class="btn btn-warning">_Unwrap_</button>
      <button id = "traindata" type="button" class="btn btn-success">train_data</button>
  <div id="videodiv">
<!--				<video id="video" style="width:360px;float:right; height:100%"></video>
deleted phase24 button, replaced by traindata-->

  </div>
</div>
