<div id="outerdiv">
      <button id = "scan" type="button" class="btn btn-warning">  __scan__  </button>
      <button id = "train" type="button" class="btn btn-primary">train_scan</button>
      <button id = "phase24" type="button" class="btn btn-success">Phase24</button>
      <button id = "reference" type="button" class="btn btn-info">___Ref___</button>
      <button id = "unwrap" type="button" class="btn btn-warning">_Unwrap_</button>
  <div id="videodiv">
<!--				<video id="video" style="width:360px;float:right; height:100%"></video>-->

  </div>
</div>
